<div>
  <mat-toolbar class="mat-toolbar" color="warn">
    <span class="example-spacer"></span> 

    <button mat-raised-button class="toolbar-button" color="accent">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>

    <button mat-raised-button class="toolbar-button" color="accent">
      <mat-icon>school</mat-icon>
      <span>Education</span>
    </button>

    <button mat-raised-button class="toolbar-button" color="accent">
      <mat-icon>business_center</mat-icon>
      <span>Experience</span>
    </button>

    <button mat-raised-button class="toolbar-button" color="accent">
      <mat-icon> construction</mat-icon>
      <span>Skills</span>
    </button>

    <button mat-raised-button class="toolbar-button" color="accent">
      <mat-icon> email</mat-icon>
      <span>Contact</span>
    </button>

  </mat-toolbar>
</div>
<mat-card>
  <mat-card-content>Simple card</mat-card-content>
</mat-card>
<!-- <mat-card>
  <button mat-raised-button color="primary">
    Primary
  </button>
  <button mat-raised-button color="accent">
    Accent
  </button>
  <button mat-raised-button color="warn">
    Warning
  </button>
</mat-card> -->
<router-outlet></router-outlet>
